.sort-by {
    font-size: 18px;
}
.price-sort {
    font-size: 20px;
}
.category-filters {
    border-bottom: 1px solid var(--border-grey);
}
.product-flag  {
    position: absolute;
    top: 0;
    background:  var(--color-white);
    font-size: 18px;
    color: var(--primary-color);
    padding: 6px 18px;
}
.product-container {
    
}
