

:root {
  --btn-bg: rgba(0, 0, 0, 1);
  --btn-white: #FFF;
  --primary-color: rgba(0, 0, 0, 1);
  --color-white: #FFF;
  --color-black: rgba(0, 0, 0, 1);
  --color-grey: rgba(101, 101, 101, 1);
  --light-grey: rgba(155, 155, 155, 1);
  --border-grey: #C2C2C2;  
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif !important;
}
.cursor-pointer{
  cursor: pointer;
}
.w-95{
  width: 91%;
}
.app-width {
  width: 90%;
  margin: 0 auto;
}
.font-bold {
  font-weight: 800;
}
.font-light {
  font-weight: 500;
}
.black-text {
  color: var(--color-black)
}

.grey-text {
  color: var(--color-grey)
}
.light-grey{
  color: var(--light-grey)
}
.para {
  font-size: 14px;
}
.section__heading {
  font-size: 31px;
}
.flex-flow-row {
  flex-flow: row wrap;
}
.border-right {
  border-right: var(--grey-color)
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.bejamas-btn {
  border: none;
  font: inherit;
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  padding: 10px 39px;
}

.bejamas-btn.primary {
  color: var(--btn-white);
  background-color: var(--btn-bg);
  
}

.bejamas-btn.secondary {
  color: var(--btn-bg);
  background-color: var(--btn-white);
  border: 3px solid var(--color-black)
}
.hide {
  display: none;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  border: 1px solid var(--black-color);
  display: inline-block;
  position: relative;
  border-radius: none !important;
}

/*** Form Styles ***/
label {
  font-size: 20px;
}
.align-right {
  text-align: right;
}
.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.checkbox label {
    position: relative;
}
.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 24px;
    height: 24px;
    transition: transform 0.28s ease;
    border: 2px solid var(--color-black);
}
.checkbox label:after {
    content: '';
    display: block;
    width: 14px;
    height: 9px;
    border-bottom: 4px solid var(--color-black);
    border-left: 4px solid var(--color-black);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 10px;
    left: 9px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
  color: var(--color-black);
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
.checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}
@media screen and (min-width: 576px){
  .mobile-filter {
    display: none;
  }
  .m-filters {
    display: none;
  }
}
@media screen and (max-width: 575px){
    .app-width {
      width: 93%;
    }
    .add-to-cart {
      width: 100% !important
    }
    .w-95 {
        width: 89%;
    }
    .about-container {
      display: block !important;
    }
    .banner-header {
      font-size: 29px !important;
    }
    .about-prods {
      text-align: left !important;
    }
    .about-prods img{
      width: 100px;
    }
    .m-hide {
      display: none;
    }
    .filter-header {
      font-size: 18px;
    }
    
}