.banner {
  width: 100%;
  min-height: 400px;
  background: lightcyan;
  background-image: url('https://www.incimages.com/uploaded_files/image/1920x1080/getty_1030253878_417781.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .banner__header {
    font-size: 28px;
}