
.banner {
  height: 454px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .banner__header {
    font-size: 33px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif !important;
}
.banner-header {
  color: var(--primary-color);
  font-size: 25px;
}
.banner-caption {
  position: absolute;
  bottom: 0;
  background:  var(--color-white);
  font-size: 14px;
  color: var(--primary-color);
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 14px;
  padding-top: 12px;
}