
.details__btn__icon {
    font-size: 20px;
    
}
.details__btn {
    width: 32px;
    height: 30px;
    border-radius: 4px;
    background: var(--primary-color);
    box-shadow: 0px 3px 15px rgb(120, 145, 196);
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 0px;
}

.joboffer__header {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-color)
}
.job-location {
    color: var(--grey-color)
}
.joboffer__timestamp {
    font-size: 14px;
    color: var(--grey-color)
}
.joboffer-divider {
    content: '';
    position: absolute;
    right: -15px;
    width: 3px;
    height: 100%;
    background: var(--lightgrey);
}